
    <div *ngFor="let item of clientes" class="profile-img mb-3 bg-white"style="border-radius: 75px 75px 75px 75px;
    border: 0px solid #000000;width: 280px;  ">

<div class="row m-auto ">



        <div class="col-2">

            <img src= {{item.imagen}} class="p-1" style="width: 54px; height: 54px; ">
        </div>

        <div class="col">
            <h4 class="text-center text-dark pt-3" >{{ item.nombre }} <span class="badge badge-primary ml-3"> {{item.turno }} </span>  </h4>  
           
        </div>
        
    </div>

</div>



