<div *ngIf="user" class="profile-img pb-3">
    <img src= '{{user.photoUrl}}' class="mb-2"  height="140px" width="140px;">
    <h4>{{ user.name }}</h4>
</div>
  

  <div *ngIf="loggedOut ">
    <h3>Iniciar Sesion</h3>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="signInWithGoogle()" >Google</button>
      </div>
  
  
      <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block"  (click)="signInWithFB()" >Facebook</button>
      </div>
</div>





  <div *ngIf="loggedIn ">

    <div class="form-group" >
        <button type="button" class="btn btn-primary btn-lg btn-block"  data-toggle="modal" data-target="#exampleModal" >Elegir Corte</button>
      </div>


      <div class="form-group">
          <button type="button" class="btn btn-primary btn-lg btn-block" (click)="signOut()" >Cerrar Sesion</button>
        </div>
      
    </div>
    
    <div>

      <div class="form-group" *ngIf="enTurno">
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="signOut()" >Cerrar Sesion</button>
      </div>

    </div>


<!-- Modal Corte -->
<div class="modal fade prueba" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title text-dark text-center" id="exampleModalLabel"> Cortes Disponibles</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="container">

        <app-cortes (telHijo)="setTelefono($event)" (mostrar)="MostrarBtnAgregar($event)"></app-cortes>
      </div>
     
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button *ngIf="mostrarBtn"  type="button" class="btn btn-primary"  data-dismiss="modal" (click)="AgregarCola()">Ponerme en Turno</button>
      </div>
    </div>
  </div>
</div>



       